<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.HwkjCustomerEquipmentDataMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.HwkjCustomerEquipmentData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Customer_Code" jdbcType="VARCHAR" property="customerCode" />
    <result column="Factory_Address" jdbcType="VARCHAR" property="factoryAddress" />
    <result column="Equipment_Name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="Brand" jdbcType="VARCHAR" property="brand" />
    <result column="Model_Number" jdbcType="VARCHAR" property="modelNumber" />
    <result column="Production_Date" jdbcType="VARCHAR" property="productionDate" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
    <result column="Quantity" jdbcType="INTEGER" property="quantity" />
    <result column="Products" jdbcType="VARCHAR" property="products" />
    <result column="Operation_Rate" jdbcType="DOUBLE" property="operationRate" />
    <result column="Maintenance_Record" jdbcType="VARCHAR" property="maintenanceRecord" />
    <result column="Repair_Recode" jdbcType="VARCHAR" property="repairRecode" />
    <result column="BPM" jdbcType="VARCHAR" property="bpm" />
    <result column="Engineer" jdbcType="VARCHAR" property="engineer" />
    <result column="Creator" jdbcType="VARCHAR" property="creator" />
    <result column="Create_Date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="Updated_By" jdbcType="VARCHAR" property="updatedBy" />
    <result column="Update_Date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>