<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.ProcsPrivMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.ProcsPriv">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Host" jdbcType="CHAR" property="host" />
    <id column="Db" jdbcType="CHAR" property="db" />
    <id column="User" jdbcType="CHAR" property="user" />
    <id column="Routine_name" jdbcType="CHAR" property="routineName" />
    <id column="Routine_type" jdbcType="CHAR" property="routineType" />
    <result column="Grantor" jdbcType="VARCHAR" property="grantor" />
    <result column="Proc_priv" jdbcType="CHAR" property="procPriv" />
    <result column="Timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>
</mapper>