<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.ReplicationApplierGlobalFiltersMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.ReplicationApplierGlobalFilters">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FILTER_NAME" jdbcType="CHAR" property="filterName" />
    <result column="CONFIGURED_BY" jdbcType="CHAR" property="configuredBy" />
    <result column="ACTIVE_SINCE" jdbcType="TIMESTAMP" property="activeSince" />
    <result column="FILTER_RULE" jdbcType="LONGVARCHAR" property="filterRule" />
  </resultMap>
</mapper>