<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/demo/demo.css}">
    <script type="text/javascript" th:src="@{/easyUi/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/locale/easyui-lang-zh_CN.js}"></script>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <span style="font-size: 10px">HW料号:&nbsp;</span>
        <input id="material_Number" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">制造商料号:</span>
        <input id="manufacturer_Material_Number" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">规格:&nbsp;</span>
        <input id="size" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">型号:&nbsp;</span>
        <input id="model_Number" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">交易条件:</span>
        <input id="deliver_Term"class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">验收条件:</span>
        <input id="receive_Term"class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <span style="font-size: 10px">物料类型:</span>
        <input id="material_Type" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">品牌:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input id="brand" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">MOQ:</span>
        <input id="minimum_Lower_Unit_Quantity" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">MPQ:</span>
        <input id="minimum_Packing_Capacity" class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">付款条件:</span>
        <input id="payment_Term"class="easyui-textbox" style="width: 90px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">有效状态:</span>
        <select id="status"class="easyui-combobox" style="width: 90px;height: 25px">
            <option></option>
            <option>Y</option>
            <option>N</option>
        </select>&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <a id="search" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-search" style="width:90px">查询</a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-add" onclick="newMaterialSupplyData()" style="width:90px">新增</a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-edit" onclick="Update()" style="width:90px">更新</a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-remove"onclick="Remove()" style="width:90px"><span style="align-content: center">删除</span></a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="Download()" style="width:90px"><span style="align-content: center">下载</span></a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="DownloadModel()" style="width:90px"><span style="align-content: center">模板</span></a>&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="ExcelUpload()" style="width:90px"><span style="align-content: center">文件上传</span></a>&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <form>
            <table id="g" class="easyui-datagrid" width="98%">
            </table>
        </form>
    </div>
    <div id="dlg" class="easyui-dialog" style="width:580px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
        <form id="fm" method="post"  novalidate style="margin:0;padding:30px 30px">
            <div style="margin-bottom:10px">
                <input id="material_Number_Add" name="material_Number" class="easyui-combobox" style="width: 230px" data-options="valueField:'material_Number',textField:'material_Number'" required="true" label="HW料号:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="version_Add" name="version" class="easyui-combobox" style="width: 230px;" data-options="valueField:'version',textField:'version'" required="required" label="HW版本:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="brand_Add" name="brand" class="easyui-combobox" style="width: 230px" data-options="valueField:'brand',textField:'brand'" required="required" label="品牌:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="vendor_Code_Add" name="vendor_Code" class="easyui-combobox" style="width: 230px" data-options="valueField:'vendor_Code',textField:'vendor_Code'" required="required" label="供应商代码:" >
            </div>
            <div style="margin-bottom:10px">
                <input id="minimum_Lower_Unit_Quantity_Add" name="minimum_Lower_Unit_Quantity" class="easyui-textbox" style="width: 230px" required="required" label="最小订单量:">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="purchasing_Lead_Days_Add" name="purchasing_Lead_Days" class="easyui-textbox" style="width: 230px" required="required" label="采购前置期:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="deliver_Term_Add" name="deliver_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" label="交易条件:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="payment_Term_Add" name="payment_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" label="付款条件:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="receive_Term_Add" name="receive_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" label="验收条件:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="supplier_Warranty_Period_Month_Add" name="supplier_Warranty_Period_Month" class="easyui-textbox" style="width: 230px" required="required" label="供应商保固期(月）:" >
            </div>
            <div style="margin-bottom:10px">
                <input id="purchase_Add" name="purchase" class="easyui-combobox" style="width: 230px" data-options="valueField:'china_Name',textField:'china_Name'" required="required" label="采购工程师:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-bottom:10px">
                <span>备注:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <textarea name="remark" style="height: 60px;width: 500px"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg2" class="easyui-dialog" style="width:580px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons2'">
        <form id="fm2" method="post" novalidate style="margin:0;padding:30px 30px">
            <div style="margin-bottom:10px">
                <input id="id_Update" name="id" type="hidden"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-bottom:10px">
                <input id="material_Number_Update" name="material_Number" class="easyui-combobox" style="width: 230px" data-options="valueField:'material_Number',textField:'material_Number'" required="true" label="HW料号:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="version_Update" name="version" class="easyui-combobox" style="width: 230px;" data-options="valueField:'version',textField:'version'" required="required" label="HW版本:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="brand_Update" name="brand" class="easyui-combobox" style="width: 230px" data-options="valueField:'brand',textField:'brand'" required="required" label="品牌:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="vendor_Code_Update" name="vendor_Code" class="easyui-combobox" style="width: 230px" data-options="valueField:'vendor_Code',textField:'vendor_Code'" required="required" label="供应商代码:" >
            </div>
            <div style="margin-bottom:10px">
                <input id="minimum_Lower_Unit_Quantity_Update" name="minimum_Lower_Unit_Quantity" class="easyui-textbox" style="width: 230px" required="required" label="最小订单量:">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="purchasing_Lead_Days_Update" name="purchasing_Lead_Days" class="easyui-textbox" style="width: 230px" required="required" label="采购前置期:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="deliver_Term_Update" name="deliver_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" required="required" label="交易条件:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="payment_Term_Update" name="payment_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" required="required" label="付款条件:" />
            </div>
            <div style="margin-bottom:10px">
                <input id="receive_Term_Update" name="receive_Term" class="easyui-combobox" style="width: 230px" data-options="valueField:'clause',textField:'clause'" required="required" required="required" label="验收条件:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="supplier_Warranty_Period_Month_Update" name="supplier_Warranty_Period_Month" class="easyui-textbox" style="width: 230px" required="required" label="供应商保固期(月）:" >
            </div>
            <div style="margin-bottom:10px">
                <input id="purchase_Update" name="purchase" class="easyui-combobox" style="width: 230px" data-options="valueField:'china_Name',textField:'china_Name'" required="required" label="采购工程师:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-bottom:10px">
                <span>备注:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <textarea name="remark" style="height: 60px;width: 500px"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div id="dlg-buttons2">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser2()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg3" class="easyui-dialog" style="width:400px;height: 200px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons3'">
        <form id="fm3" method="post" novalidate style="margin:0;padding:20px 20px">
            <div style="margin-bottom:10px">
                <h1 style="text-align: center;font-size: 20px">是否删除该笔数据!</h1>
            </div>
        </form>
    </div>
    <div id="dlg-buttons3">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser3()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg5" class="easyui-dialog" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons5'">
        <form id="fm5" method="post" enctype="multipart/form-data" novalidate style="margin:0;padding:20px 20px">
            <div style="margin-bottom:10px">
                <input name="multipartFile" class="easyui-filebox"  style="width: 230px"  label="Excel:" >
            </div>
        </form>
    </div>
    <div id="dlg-buttons5">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser5()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg5').dialog('close')" style="width:90px">Cancel</a>
    </div>
</div>
<script type="text/javascript">
    /**
     * 最小订单量
     */
    $(function () {
        $("#minimum_Lower_Unit_Quantity_Add").numberbox({
            min: 1,
        });
    });
    $(function () {
        $("#minimum_Lower_Unit_Quantity_Update").numberbox({
            min: 1,
        });
    });
    /**
     * 采购前置期(天)
     */
    $(function () {
        $("#purchasing_Lead_Days_Add").numberbox({
            min: 1,
            max: 31
        });
    });
    $(function () {
        $("#purchasing_Lead_Days_Update").numberbox({
            min: 1,
            max: 31
        });
    });
    /**
     * 供应商保固期(月）
     */
    $(function () {
        $("#supplier_Warranty_Period_Month_Add").numberbox({
            min: 1,
            max: 12
        });
    });
    $(function () {
        $("#supplier_Warranty_Period_Month_Update").numberbox({
            min: 1,
            max: 12
        });
    });
    $(function () {
        $("#material_Number_Add").combobox({
            onChange:function () {//option选中哪个就是哪个option 的value值
                var Material_Number=$("#material_Number_Add").combobox('getText');
                $.ajax({
                    url:"queryMaterialSupplyDataOptionVersion.do",
                    type:"post",
                    data:{Material_Number:Material_Number},
                    dataType:"json",
                    success:function (data) {
                        $("#version_Add").combobox("loadData",data.versionList);
                    }
                });
            }
        });
    });
    $(function () {
        $("#material_Number_Update").combobox({
            onChange:function () {//option选中哪个就是哪个option 的value值
                var Material_Number=$("#material_Number_Update").combobox('getText');
                $.ajax({
                    url:"queryMaterialSupplyDataOptionVersion.do",
                    type:"post",
                    data:{Material_Number:Material_Number},
                    dataType:"json",
                    success:function (data) {
                        $("#version_Add").combobox("loadData",data.versionList);
                    }
                });
            }
        });
    });
    $(function () {
        $("#search").click(function () {
            $("#g").datagrid({
                columns: [
                    [//定义标题行所有的列
                        {field:'id',title:'编号',checkbox:true,align:'center',titleAlign: true},
                        {field:'material_Number',title:'HW料号',align:'center',titleAlign: true},
                        {field:'version',title:'HW版本',align:'center',titleAlign: true},
                        {field:'product_Name',title:'品名',align:'center',titleAlign: true},
                        {field:'brand',title:'品牌',align:'center',titleAlign: true},
                        {field:'model_Number',title:'型号',align:'center',titleAlign: true},
                        {field:'size',title:'规格/尺寸',align:'center',titleAlign: true},
                        {field:'manufacturer_Abbreviation',title:'制造商简称',align:'center',titleAlign: true},
                        {field:'manufacturer_Material_Number',title:'制造商料号',align:'center',titleAlign: true},
                        {field:'vendor_Chinese_Abbreviation',title:'供应商中文简称',align:'center',titleAlign: true},
                        {field:'vendor_Code',title:'供应商代码',align:'center',titleAlign: true},
                        {field:'material_Type',title:'物料类型',align:'center',titleAlign: true},
                        {field:'category',title:'类别',align:'center',titleAlign: true},
                        {field:'country_Origin',title:'原产地',align:'center',titleAlign: true},
                        {field:'quantity_Unit',title:'数量单位',align:'center',titleAlign: true},
                        {field:'minimum_Lower_Unit_Quantity',title:'最小订单量',align:'center',titleAlign: true},
                        {field:'minimum_Packing_Capacity',title:'最小包装量',align:'center',titleAlign: true},
                        {field:'purchasing_Lead_Days',title:'采购前置期（天）',align:'center',titleAlign: true},
                        {field:'deliver_Term',title:'交易条件',align:'center',titleAlign: true},
                        {field:'payment_Term',title:'付款条件',align:'center',titleAlign: true},
                        {field:'receive_Term',title:'验收条件',align:'center',titleAlign: true},
                        {field:'supplier_Warranty_Period_Month',title:'供应商保固期(月）',align:'center',titleAlign: true},
                        {field:'force_Time',title:'生效时间',align:'center',titleAlign: true},
                        {field:'failure_Time',title:'失效时间',align:'center',titleAlign: true},
                        {field:'purchase',title:'采购工程师',align:'center',titleAlign: true},
                        {field:'remark',title:'备注',align:'center',titleAlign: true},
                        {field:'status',title:'有效状态',align:'center',titleAlign: true},
                        {field:'creator',title:'建立人',align:'center',titleAlign: true},
                        {field:'create_Date',title:'建立日期',align:'center',titleAlign: true},
                        {field:'updated_By',title:'修改人',align:'center',titleAlign: true},
                        {field:'update_Date',title:'修改日期',align:'center',titleAlign: true},
                    ]
                ],
                url: "queryVendorContact.do",//指定URL地址，控件自动发送ajax请求获取数据
                queryParams:{Material_Number:$("#material_Number").val(),Manufacturer_Material_Number:$("#manufacturer_Material_Number").val(),Size:$("#size").val(),
                            Model_Number:$("#model_Number").val(),Deliver_Term:$("#deliver_Term").val(),Receive_Term:$("#receive_Term").val(),
                            Material_Type:$("#material_Type").val(),Brand:$("#brand").val(),Minimum_Lower_Unit_Quantity:$("#minimum_Lower_Unit_Quantity").val(),
                            Minimum_Packing_Capacity:$("#minimum_Packing_Capacity").val(),Payment_Term:$("#payment_Term").val(),Status:$("#status").val()},//查询参数
                loadMsg: "正在加载数据...",
                nowrap:true,//换行
                fitColumns: true,//列的宽度填满表格，防止下方出现滚动条
                singleSelect: false,//是否可以单选
                pagination: true,//分页条
                pageSize: 20,
                pageList: [15, 20, 30, 40, 50],//分页条中的下拉框选项.
                onSelectPage: function (page, rows,Vendor_Chinese_Abbreviation,Vendor_Code,Contact_Chinese_Name,Purchase,Status){//分页触发
                 findOption(page, rows,Vendor_Chinese_Abbreviation,Vendor_Code,Contact_Chinese_Name,Purchase,Status);
                },
                onLoadSuccess:function(data){
                    if(data){
                        $.each(data.rows, function(index,item){
                            if(item.checked){
                                $('#g').datagrid('checkRow',index);
                            }
                        });
                    }
                },
            })
        })
    });
    function findOption(page, rows,Vendor_Chinese_Abbreviation,Vendor_Code,Contact_Chinese_Name,Purchase,Status)
    {
        $("#g").datagrid("getPager").pagination({page:page,rows:rows,Vendor_Chinese_Abbreviation:Vendor_Chinese_Abbreviation,Vendor_Code:Vendor_Code,
                                                Contact_Chinese_Name:Contact_Chinese_Name,Purchase:Purchase,Status:Status});//重置
        $("#g").datagrid("loading"); //加屏蔽
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "queryVendorContact.do",
            data : {
                page:page,
                rows:rows,
                Vendor_Chinese_Abbreviation:Vendor_Chinese_Abbreviation,
                Vendor_Code:Vendor_Code,
                Contact_Chinese_Name:Contact_Chinese_Name,
                Purchase:Purchase,
                Status:Status
            },
            success : function(data) {
                $("#g").datagrid("loadData",data);
                $("#g").datagrid("loaded"); //移除屏蔽
            },
            error : function(err) {
                $.messager.alert("操作提示", "获取信息失败...请联系管理员!", "error");
                $("#g").datagrid("loaded"); //移除屏蔽
            }
        });
    };
    var url;
    var checked;
    var id=[];
    var Old_Vendor_Code=[];
    function Update(){
        var row = $('#g').datagrid('getSelected');
        if (row){
            $('#dlg2').dialog('open').dialog('center').dialog('setTitle','Edit');
            $('#fm2').form('load',row);
            id=[];
            Old_Vendor_Code=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                id.push(item.id);
                Old_Vendor_Code.push(item.vendor_Code);
            });
            if(id.length>=2){
                $.messager.alert("操作提示","请选择一条数据进行更新!","info");
            }
            url = 'vendorContactUpdate.do';
            $.ajax({
                url:"queryMaterialSupplyDataForOption.do",
                type:"post",
                data:{Role:"PC"},
                dataType:"json",
                success:function (data) {
                    $("#material_Number_Add").combobox("loadData",data.materialNumberList);
                    $("#brand_Add").combobox('loadData',data.brandList);
                    $("#vendor_Code_Add").combobox('loadData',data.vendorCodeList);
                    $("#deliver_Term_Add").combobox('loadData',data.deliverTermList);//交易
                    $("#payment_Term_Add").combobox('loadData',data.paymentTermList);//付款
                    $("#receive_Term_Add").combobox('loadData',data.receiveTermList);//验收
                    $("#purchase_Add").combobox("loadData",data.roleList);
                }
            })
        }
    };
    function newMaterialSupplyData(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','New');
        $('#fm').form('clear');
        url = 'materialSupplyDataAdd.do';
        $.ajax({
            url:"queryMaterialSupplyDataForOption.do",
            type:"post",
            data:{Role:"PC"},
            dataType:"json",
            success:function (data) {
                $("#material_Number_Add").combobox("loadData",data.materialNumberList);
                $("#brand_Add").combobox('loadData',data.brandList);
                $("#vendor_Code_Add").combobox('loadData',data.vendorCodeList);
                $("#deliver_Term_Add").combobox('loadData',data.deliverTermList);//交易
                $("#payment_Term_Add").combobox('loadData',data.paymentTermList);//付款
                $("#receive_Term_Add").combobox('loadData',data.receiveTermList);//验收
                $("#purchase_Add").combobox("loadData",data.roleList);
            }
        })
    };
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if(result.message=="timeOut"){
                    $.messager.alert("操作提示","网页超时,请重新刷新页面!","warning");
                }
                else if(result.message=="success"){
                    $('#dlg').dialog('close');        // close the dialog
                    $.messager.alert("操作提示","新增数据成功!","info");
                    //$('#g').datagrid('reload');    // reload the user data
                }
                else if(result.message=="exist"){
                    $.messager.alert("操作提示","请确认新增供应商代码是否已存在或者联系管理员!","error");
                }
                else if(result.message=="error"){
                    $.messager.alert("操作提示","新增信息失败,请稍后尝试或者联系管理员!","error");
                }
                else {
                    $.messager.alert("操作提示","新增信息失败,请稍后尝试或者联系管理员!","error");
                }
            }
        });
    };
    function saveUser2(){
        $.ajax({
            url:url,
            type:"post",
            data:{
                Id:$("#id_Update").val(),
                Vendor_Code:$("#vendor_Code_Update").val(),
                Vendor_Chinese_Abbreviation:$("#vendor_Chinese_Abbreviation_Update").val(),
                Country_Area:$("#country_Area_Update").val(),
                City:$("#city_Update").val(),
                Contact_Chinese_Name:$("#contact_Chinese_Name_Update").val(),
                Contact_English_Name:$("#contact_English_Name_Update").val(),
                Sex:$("#sex_Update").val(),
                Title:$("#title_Update").val(),
                Dept:$("#dept_Update").val(),
                Authority:$("#authority_Update").val(),
                Language:$("#language_Update").val(),
                Company_Telephone:$("#company_Telephone_Update").val(),
                Phone_Number:$("#phone_Number_Update").val(),
                Company_Mail:$("#company_Mail_Update").val(),
                Private_Mail:$("#private_Mail_Update").val(),
                WeChat_Number:$("#weChat_Number_Update").val(),
                Status:$("#status_Update").val(),
                Purchase:$("#purchase_Update").val(),
                Old_Vendor_Code:Old_Vendor_Code,
            },
            dataType:"json",
            success:function (data) {
                if(data.message=="timeOut"){
                    $.messager.alert("操作提示","网页超时,请重新刷新页面!","warning");
                }
                else if(data.message=="success"){
                    $('#dlg2').dialog('close');        // close the dialog
                    $.messager.alert("操作提示","更新数据成功!","info");
                    $('#g').datagrid('reload');    // reload the user data
                }
                else if(data.message=="exist"){
                    $.messager.alert("操作提示","请确认更新的供应商代码是否已存在或者联系管理员!","error");
                }
                else if(data.message=="error"){
                    $.messager.alert("操作提示","新增信息失败,请稍后尝试或者联系管理员!","error");
                }
                else {
                    $.messager.alert("操作提示","新增信息失败,请稍后尝试或者联系管理员!","error");
                }
            },
            error:function () {
                $.messager.alert("操作提示","新增信息失败,请稍后尝试或者联系管理员!","error");
            }
        })
    };
    function Remove() {
        var row = $('#g').datagrid('getSelected');
        if (row){
            $('#dlg3').dialog('open').dialog('center').dialog('setTitle','Remove');
            $('#fm3').form('load',row);
            id=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index,item){
                id.push(item.id);
            });
            url = 'vendorContactRemove.do';
        }
    };
    function saveUser3() {
        $.ajax({
            url:url,
            type:"post",
            data:{id:id},
            cache : false,
            dataType:"json",
            success:function (data) {
                if(data.message=="success"){
                    $('#dlg3').dialog('close');
                    $.messager.alert("操作提示","成功删除数据!","info");
                    $('#g').datagrid('reload');
                }
                else if(data.message=="error"){
                    $.messager.alert("操作提示","删除数据失败，请稍后尝试或联系管理员!","error");
                }
                else {
                    $.messager.alert("操作提示","删除数据失败，请稍后尝试或联系管理员!","error");
                }
            },
            error:function (err) {
                $.messager.alert("操作提示",err.errorMsg,"error");
            }
        })
    };
    function Download() {
        var Vendor_Chinese_Abbreviation=$("#vendor_Chinese_Abbreviation").val();
        var Vendor_Code=$("#vendor_Code").val();
        var Contact_Chinese_Name=$("#contact_Chinese_Name").val();
        var Purchase=$("#purchase").val();
        var Status=$("#status").val();
        var row = $('#g').datagrid('getSelected');
        if (row){
            id=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                id.push(item.id);
            });
            location.href="vendorContactForDownLoadExcel.do?id="+id;
        }else {
            location.href="vendorContactForDownLoadExcelAll.do?Vendor_Chinese_Abbreviation="+Vendor_Chinese_Abbreviation+"&Vendor_Code="+Vendor_Code+
            "&Contact_Chinese_Name="+Contact_Chinese_Name+"&Purchase="+Purchase+"&Status="+Status;
        }
    };
    function DownloadModel(){
        location.href="vendorContactDownLoadModel.do";
    };
    function ExcelUpload(){
        $('#dlg5').dialog('open').dialog('center').dialog('setTitle','Upload');
        $('#fm5').form('clear');
        url = 'vendorContactUpload.do';
    };
    function saveUser5(){
        $('#fm5').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(data){
                var data = eval('('+data+')');
                if(data.message=="success"){
                    $('#dlg5').dialog('close');
                    $.messager.alert("提示信息","数据上传成功!","info");
                    $('#g').datagrid('reload');
                }
                else if(data.message.substring(0,5)=="exist"){
                    $.messager.alert("提示信息","请确认上传Excel文件中的第"+data.message.substring(6)+"列是否已存在或者联系管理员!","error");
                }
                else if(data.message.substring(0,5)=="blank"){
                    $.messager.alert("提示信息","请确认上传Excel文件中的第"+data.message.substring(6)+"列必填项有为空的或者联系管理员!","error");
                }
                else if(data.message=="timeOut"){
                    $.messager.alert("提示信息","网页超时,请重新刷新页面!","warning");
                }
                else if(data.message.substring(0,7)=="unExist"){
                    $.messager.alert("提示信息","请确认上传Excel文件中的第"+data.message.substring(8)+"列供应商代码是否合法或者联系管理员!","error");
                }
                else if (data.message=="error"){
                    $.messager.alert("提示信息","数据上传失败,请稍后尝试或者联系管理员!","error");
                }
                else {
                    $.messager.alert("提示信息","数据上传失败,请稍后尝试或者联系管理员!","error");
                }
            }
        });
    };
    /**
     * 给时间框控件扩展一个清除的按钮
     */
    $.fn.datebox.defaults.cleanText = '清空';
    (function ($) {
        var buttons = $.extend([], $.fn.datebox.defaults.buttons);
        buttons.splice(1, 0, {
            text: function (target) {
                return $(target).datebox("options").cleanText
            },
            handler: function (target) {
                $(target).datebox("setValue", "");
                $(target).datebox("hidePanel");
            }
        });
        $.extend($.fn.datebox.defaults, {
            buttons: buttons
        });
    })(jQuery);
</script>
</body>
</html>