<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.HR.EmployeeConfigurationDao">
    <select id="selectEmployeeConfigurationByJobNumber" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from hwkj_employee_configuration where Job_Number=#{Job_Number}
    </select>
    <insert id="insertEmployeeConfiguration" useGeneratedKeys="true"  keyProperty="Id" keyColumn="Id" parameterType="java.lang.String">
        insert into table (Job_Number,Menu_Bar)values (#{Job_Number},#{Menu_Bar})
    </insert>
</mapper>