<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.User.UserDao">
    <insert id="insertUser"  parameterType="hwkj.hwkj.entity.HUser.User">
        insert into hwkj_user
        (Job_Number,Name,Password,RePassword,Physical_Address,Status)
        values
        (#{Job_Number},#{Name},#{Password},#{RePassword},#{Physical_Address},#{Status});
    </insert>
    <delete id="deleteUser" parameterType="java.lang.String">
        delete from hwkj_user where Job_Number in
        <foreach collection="array" item="Job_Number" open="(" separator="," close=")">
            #{Job_Number}
        </foreach>
    </delete>
    <update id="updateUser" parameterType="hwkj.hwkj.entity.HUser.User">
        update hwkj_user
        <trim prefix="set" suffixOverrides=",">
            <if test="Name!=null">Name=#{Name},</if>
            <if test="Password!=null">Password=#{Password},</if>
            <if test="Physical_Address!=null">Physical_Address=#{Physical_Address},</if>
            <if test="Status!=null">Status=#{Status},</if>
        </trim>
        where Job_Number=#{Job_Number}
    </update>
    <update id="updatePassword" parameterType="hwkj.hwkj.entity.HUser.User">
        update hwkj_user
        <trim prefix="set" suffixOverrides=",">
            <if test="Password!=null and Password!=''">Password=#{Password},</if>
            <if test="RePassword!=null and RePassword!=''">RePassword=#{RePassword},</if>
        </trim>
        where Job_Number=#{Job_Number}
    </update>
    <select id="queryAllUser" resultType="hwkj.hwkj.entity.HUser.User">
        select * from hwkj_user
    </select>
    <select id="queryUserByJobNumber" parameterType="java.lang.String" resultType="hwkj.hwkj.entity.HUser.User">
        select * from hwkj_user where Status='Y'
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
    </select>
    <select id="queryUserList" resultType="hwkj.hwkj.entity.HUser.User">
        select * from hwkj_user where 1=1
        <if test="userPageModel.page != null and  userPageModel.rows != null"></if>
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
        <if test="Name!=null and Name!=''">and Name=#{Name}</if>
        order by Job_Number limit #{userPageModel.startRow},#{userPageModel.rows}
    </select>
    <select id="queryUserCount" resultType="java.lang.Integer">
         select count(*) from hwkj_user where 1=1
        <if test="userPageModel.page != null and  userPageModel.rows != null"></if>
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
        <if test="Name!=null and Name!=''">and Name=#{Name}</if>
    </select>
    <select id="queryJobNumber" parameterType="java.lang.String" resultType="hwkj.hwkj.entity.HR.EmployeePersonalData">
        select Job_Number,China_Name from hwkj_employee_personal_data where 1=1 and Status='Y'
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
        order by Job_Number
    </select>
    <select id="userRoleMenu" parameterType="java.lang.String" resultMap="MenuMap">
        select m.id,m.pId,m.name,m.page from hwkj_user u
        left join hwkj_user_role ur on u.Job_Number=ur.Job_Number
        left join hwkj_role_menu rm on ur.Role_Name=rm.Role_Name
        left join hwkj_menu m on rm.Menu_Name=m.name
        where m.id is not null and u.Job_Number=#{Job_Number}
        group by(rm.Menu_Name)
    </select>
    <resultMap type="hwkj.hwkj.entity.HUser.Menu" id="MenuMap">
            <result property="id" column="id"></result>
            <result property="pId" column="pId"></result>
            <result property="name" column="name"></result>
            <result property="page" column="page"></result>
    </resultMap>
    <select id="queryUserNotExistJobNumber" resultType="hwkj.hwkj.entity.HR.EmployeePersonalData">
        select p.Job_Number,p.China_Name from hwkj_employee_personal_data p left join hwkj_user u on
        p.Job_Number=u.Job_Number where p.Status='Y'
        <if test="Job_Number!=null and Job_Number!=''">and p.Job_Number=#{Job_Number}</if>
        and u.Job_Number is null order by p.Id desc
    </select>
    <select id="queryUserForExist" resultType="int">
        select count(*) from hwkj_user where 1=1
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
    </select>
    <select id="queryUserForOption" resultType="hwkj.hwkj.entity.HR.EmployeePersonalData">
        select Job_Number,China_Name from hwkj_employee_personal_data where 1=1
        <if test="Job_Number!=null and Job_Number!=''">and Job_Number=#{Job_Number}</if>
    </select>
</mapper>