<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/demo/demo.css}">
    <script type="text/javascript" th:src="@{/easyUi/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/locale/easyui-lang-zh_CN.js}"></script>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <span style="font-size: 10px">CustomerName:</span>
        <input id="chinese_Abbreviation" class="easyui-textbox" style="width: 120px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">CustomerCode:</span>
        <input id="customer_Code"class="easyui-textbox" style="width: 120px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">EquipmentName:</span>
        <input id="equipment_Name" class="easyui-textbox" style="width: 120px;height: 25px" />&nbsp;&nbsp;&nbsp;
        <span style="font-size: 10px">EquipmentNumber:</span>
        <input id="sN" class="easyui-textbox" style="width: 120px;height: 25px" />&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <a id="search" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-search" style="width:90px">查询</a>&nbsp;&nbsp;&nbsp;
        <!--<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-add" onclick="newCustomerEquipmentData()" style="width:90px">新增</a>&nbsp;&nbsp;&nbsp;-->
        <a id="update" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-edit" onclick="Update()" style="width:90px">更新</a>&nbsp;&nbsp;&nbsp;
        <a id="remove" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-remove" onclick="Remove()" style="width:90px">删除</a>&nbsp;&nbsp;&nbsp;
        <a id="download" href="javascript:void(0)" class="easyui-linkbutton" onclick="Download()" style="width:90px"><span style="align-content: center">下载</span></a>&nbsp;&nbsp;&nbsp;
        <a id="model" href="javascript:void(0)" class="easyui-linkbutton" onclick="DownloadModel()" style="width:90px"><span style="align-content: center">模板</span></a>&nbsp;&nbsp;&nbsp;
        <a id="upload" href="javascript:void(0)" class="easyui-linkbutton" onclick="ExcelUpload()" style="width:90px"><span style="align-content: center">文件上传</span></a>&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <form>
            <table id="g" class="easyui-datagrid" width="98%">
            </table>
        </form>
    </div>
    <div id="dlg" class="easyui-dialog" style="width:580px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
        <form id="fm" method="post" novalidate style="margin:0;padding:30px 30px">
            <div style="margin-bottom:10px">
                <input id="customer_Code_Add" name="customer_Code" class="easyui-combobox" style="width: 230px" required="true" data-options="valueField:'customer_Code',textField:'customer_Code'" label="客户代码:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="chinese_Abbreviation_Add" name="chinese_Abbreviation" class="easyui-textbox" style="width: 230px;" required="true" label="中文简称:"/>
            </div>
            <div style="margin-bottom:10px">
                <input id="factory_Address_Add" name="factory_Address" class="easyui-combobox" style="width: 230px" required="true" data-options="valueField:'factory_Address',textField:'factory_Address'" label="工厂地址:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="equipment_Name" class="easyui-textbox" style="width: 230px;" required="true" label="设备名称:"/>
            </div>
            <div style="margin-bottom:10px">
                <input name="brand" class="easyui-textbox" style="width: 230px" required="true" label="品牌:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="production_Date" class="easyui-datebox" type="date" style="width: 230px;" required="true" label="出厂日期:"/>
            </div>
            <div style="margin-bottom: 10px">
                <input name="sN" class="easyui-textbox" style="width: 230px" required="true" label="出厂编码:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="quantity_Add" name="quantity" class="easyui-textbox" style="width: 230px" required="required" label="数量:" />
            </div>
            <div style="margin-bottom: 10px">
                <input name="products" class="easyui-textbox" style="width: 230px" required="required" label="产品:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="operation_Rate_Add" name="operation_Rate" class="easyui-textbox" style="width: 230px" required="required" label="稼动率:"/>
            </div>
            <!--<div style="margin-bottom: 10px">
                <input name="maintenance_Record" class="easyui-textbox" style="width: 230px" required="required" label="保养记录:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="repair_Recode" class="easyui-textbox" style="width: 230px" required="required" label="维修记录:"/>
            </div>-->
            <div style="margin-bottom: 10px">
                <input id="bpm_add" name="bPM" class="easyui-combobox" style="width: 230px" required="required" data-options="valueField:'chain_Name',textField:'chain_Name'" label="业务员:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="engineer_add" name="engineer" class="easyui-combobox" style="width: 230px" required="required" data-options="valueField:'chain_Name',textField:'chain_Name'" label="工程师:"/>
            </div>
            <div style="margin-bottom:10px">
                <span>保养记录:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <textarea name="maintenance_Record" style="height: 60px;width: 500px"></textarea>
                </div>
            </div>
            <div style="margin-bottom:10px">
                <span>维修记录:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <textarea name="repair_Recode" style="height: 60px;width: 500px"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg2" class="easyui-dialog" style="width:580px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons2'">
        <form id="fm2" method="post" novalidate style="margin:0;padding:30px 30px">
            <div style="margin-bottom:10px">
                <input name="id" type="hidden"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="margin-bottom:10px">
                <input id="customer_Code_Update" name="customer_Code" class="easyui-combobox" style="width: 230px" required="true"   label="客户代码:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="chinese_Abbreviation_Update" name="chinese_Abbreviation" class="easyui-textbox" style="width: 230px;" required="true"  label="中文简称:"/>
            </div>
            <div style="margin-bottom:10px">
                <input id="factory_Address_Update" name="factory_Address" class="easyui-combobox" style="width: 230px" required="true" data-options="valueField:'factory_Address',textField:'factory_Address'" label="工厂地址:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="equipment_Name" class="easyui-textbox" style="width: 230px;" required="true" label="设备名称:"/>
            </div>
            <div style="margin-bottom:10px">
                <input name="brand" class="easyui-textbox" style="width: 230px" required="true" label="品牌:" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="model_Number" class="easyui-textbox"  style="width: 230px;" required="true"  label="型号:"/>
            </div>
            <div style="margin-bottom: 10px">
                <input name="production_Date" class="easyui-datebox"  style="width: 230px;" required="true"  label="出厂日期:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="sN" class="easyui-textbox" style="width: 230px" required="true"   label="出厂编码:" />
            </div>
            <div style="margin-bottom: 10px">
                <input id="quantity_Update" name="quantity" class="easyui-textbox" style="width: 230px" required="required"  label="数量:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input name="products" class="easyui-textbox" style="width: 230px" required="required" label="产品:"/>
            </div>
            <div style="margin-bottom: 10px">
                <input id="operation_Rate_Update" name="operation_Rate" class="easyui-textbox" style="width: 230px" required="required" label="稼动率:"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id="bpm_update" name="bPM" class="easyui-combobox" style="width: 230px" required="required" data-options="valueField:'china_Name',textField:'china_Name'" label="业务员:"/>
            </div>
            <div style="margin-bottom: 10px">
                <input id="engineer_update" name="engineer" class="easyui-combobox" style="width: 230px" required="required" data-options="valueField:'china_Name',textField:'china_Name'" label="工程师:"/>
            </div>
            <div style="margin-bottom:10px">
                <span>保养记录:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <input name="maintenance_Record" class="easyui-textbox" data-options="multiline:true" style="height: 60px;width: 500px" />
                </div>
            </div>
            <div style="margin-bottom:10px">
                <span>维修记录:</span><BR>
                <div style="height: 10px;"></div>
                <div style="margin-bottom: 10px">
                    <input name="repair_Recode" class="easyui-textbox" data-options="multiline:true" style="height: 60px;width: 500px" />
                </div>
            </div>
        </form>
    </div>
    <div id="dlg-buttons2">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser2()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg3" class="easyui-dialog" style="width:400px;height: 200px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons3'">
        <form id="fm3" method="post" novalidate style="margin:0;padding:20px 20px">
            <div style="margin-bottom:10px">
                <input name="id" type="hidden" class="easyui-textbox"/>
            </div>
            <div style="margin-bottom:10px">
                <h1 style="text-align: center;font-size: 20px">是否删除该笔数据!</h1>
            </div>
        </form>
    </div>
    <div id="dlg-buttons3">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser3()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">Cancel</a>
    </div>
</div>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        var url=window.location.href;
        url = url.substring(url.lastIndexOf("/") + 1);
        $.ajax({
            url:"queryMaintenanceAndMaintenanceRecordsFunction.do",
            type:"post",
            dataType:"json",
            data:{Url_Page:url},
            success:function (data) {
                data=data.list;
                if(data=="timeOut"){
                    $.messager.alert("提示信息","网页超时,请重新刷新页面!","warning");
                }else {
                    /*if(data.newly_Added!="Y"){
                        $("#insert").css("display","none");
                    }*/
                    if(data.modify!="Y"){
                        $("#update").css("display","none");
                    }
                    if(data.remove!="Y"){
                        $("#remove").css("display","none");
                    }
                    if(data.download!="Y"){
                        $("#download").css("display","none");
                    }
                    if(data.model!="Y"){
                        $("#model").css("display","none");
                    }
                    if(data.upload!="Y"){
                        $("#upload").css("display","none");
                    }
                }
            },
            error:function () {
                $.messager.alert("提示信息","请尝试重新登入或联系管理员!","error");
            }
        })
    });
    $(function () {
        $("#operation_Rate_Add").numberbox({
            min: 0,
            max: 100,
            precision: 2,
        });
    });
    $(function () {
        $("#operation_Rate_Update").numberbox({
            min: 0,
            max: 100,
            precision: 2,
        });
    });
    $(function () {
        $("#quantity_Add").numberbox({
            min: 0,
        });
    });
    $(function () {
        $("#quantity_Update").numberbox({
            min: 0,
        });
    });
    $(function () {
        $("#customer_Code_Add").combobox({
            onChange:function () {//option选中哪个就是哪个option 的value值
                $("#factory_Address_Add").combobox('setValue',"");
                var Customer_Code=$("#customer_Code_Add").combobox('getText');
                $.ajax({
                    url:"queryCustomerEquipmentDataFactoryAddress.do",
                    type:"post",
                    data:{"Customer_Code":Customer_Code},
                    dataType:"json",
                    success:function (data) {
                        //factoryAddressList=data.factoryAddressList;
                        //取值语法：$(“#id”).textbox('getValue');
                        $("#chinese_Abbreviation_Add").textbox("setValue",(data.customerCodeList)[0].chinese_Abbreviation);
                        $("#factory_Address_Add").combobox('loadData',data.factoryAddressList);
                    }
                });
            }
        });
    });
    $(function () {
        $("#g").datagrid({
            columns: [
                [//定义标题行所有的列
                    {field:'id',title:'编号',checkbox:true,align:'center',titleAlign: true},
                    {field:'customer_Code',title:'客户代码',align:'center',titleAlign: true},
                    {field:'chinese_Abbreviation',title:'中文简称',align:'center',titleAlign: true},
                    {field:'english_Abbreviation',title:'英文简称',align:'center',titleAlign: true},
                    {field:'country',title:'国家/地区',align:'center',titleAlign: true},
                    {field:'city',title:'城市',align:'center',titleAlign: true},
                    {field:'factory_Address',title:'工厂地址',align:'center',titleAlign: true},
                    {field:'equipment_Name',title:'设备名称',align:'center',titleAlign: true},
                    {field:'brand',title:'品牌',align:'center',titleAlign: true},
                    {field:'production_Date',title:'出厂日期',align:'center',titleAlign: true},
                    {field:'model_Number',title:'型号',align:'center',titleAlign: true},
                    {field:'sN',title:'出厂编号',align:'center',titleAlign: true},
                    {field:'quantity',title:'数量',align:'center',titleAlign: true},
                    {field:'products',title:'产品',align:'center',titleAlign: true},
                    {field:'operation_Rate',title:'稼动率',align:'center',titleAlign: true},
                    {field:'maintenance_Record',title:'保养记录',width:'100px',align:'center',titleAlign: true},
                    {field:'repair_Recode',title:'维修记录',width:'100px',align:'center',titleAlign: true},
                    {field:'bPM',title:'业务员',align:'center',titleAlign: true},
                    {field:'engineer',title:'服务工程师',align:'center',titleAlign: true},
                    {field:'creator',title:'建立人',align:'center',titleAlign: true},
                    {field:'create_Date',title:'建立日期',align:'center',titleAlign: true},
                    {field:'updated_By',title:'修改人',align:'center',titleAlign: true},
                    {field:'update_Date',title:'修改日期',align:'center',titleAlign: true},
                ]
            ],
            url: "queryMaintenanceAndMaintenanceRecords.do",//指定URL地址，控件自动发送ajax请求获取数据
            queryParams:{Chinese_Abbreviation:$("#chinese_Abbreviation").val(),Customer_Code:$("#customer_Code").val(),Equipment_Name:$("#equipment_Name").val(),SN:[[${SN}]]},//查询参数
            loadMsg: "正在加载数据...",
            nowrap:false,//换行
            fitColumns: true,//列的宽度填满表格，防止下方出现滚动条
            singleSelect: false,//是否可以单选
            pagination: true,//分页条
            pageSize: 20,
            pageList: [15, 20, 30, 40, 50],//分页条中的下拉框选项.
            onSelectPage: function (page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN){//分页触发
                findOption(page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN);
            },
            onLoadSuccess:function(data){
                if(data){
                    $.each(data.rows, function(index,item){
                        if(item.checked){
                            $('#g').datagrid('checkRow',index);
                        }
                    });
                }
            },
        })
    });
    function findOption(page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN)
    {
        $("#g").datagrid("getPager").pagination({page:page,rows:rows,Chinese_Abbreviation:Chinese_Abbreviation,Customer_Code:Customer_Code,Equipment_Name:Equipment_Name,SN:SN});//重置
        $("#g").datagrid("loading"); //加屏蔽
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "queryCustomerEquipmentData.do",
            data : {
                page:page,
                rows:rows,
                Chinese_Abbreviation:Chinese_Abbreviation,
                Customer_Code:Customer_Code,
                Equipment_Name:Equipment_Name,
                SN:SN,
            },
            success : function(data) {
                $("#g").datagrid("loadData",data);
                $("#g").datagrid("loaded"); //移除屏蔽
            },
            error : function(err) {
                $.messager.alert("操作提示", "获取信息失败...请联系管理员!", "error");
                $("#g").datagrid("loaded"); //移除屏蔽
            }
        });
    };
    $(function () {
        $("#search").click(function () {
            $("#g").datagrid({
                columns: [
                    [//定义标题行所有的列
                        {field:'id',title:'编号',checkbox:true,align:'center',titleAlign: true},
                        {field:'customer_Code',title:'客户代码',align:'center',titleAlign: true},
                        {field:'chinese_Abbreviation',title:'中文简称',align:'center',titleAlign: true},
                        {field:'english_Abbreviation',title:'英文简称',align:'center',titleAlign: true},
                        {field:'country',title:'国家/地区',align:'center',titleAlign: true},
                        {field:'city',title:'城市',align:'center',titleAlign: true},
                        {field:'factory_Address',title:'工厂地址',align:'center',titleAlign: true},
                        {field:'equipment_Name',title:'设备名称',align:'center',titleAlign: true},
                        {field:'brand',title:'品牌',align:'center',titleAlign: true},
                        {field:'model_Number',title:'型号',align:'center',titleAlign: true},
                        {field:'production_Date',title:'出厂日期',align:'center',titleAlign: true},
                        {field:'sN',title:'出厂编号',align:'center',titleAlign: true},
                        {field:'quantity',title:'数量',align:'center',titleAlign: true},
                        {field:'products',title:'产品',align:'center',titleAlign: true},
                        {field:'operation_Rate',title:'稼动率',align:'center',titleAlign: true},
                        {field:'maintenance_Record',title:'保养记录',width:'100px',align:'center',titleAlign: true},
                        {field:'repair_Recode',title:'维修记录',width:'100px',align:'center',titleAlign: true},
                        {field:'bPM',title:'业务员',align:'center',titleAlign: true},
                        {field:'engineer',title:'服务工程师',align:'center',titleAlign: true},
                        {field:'creator',title:'建立人',align:'center',titleAlign: true},
                        {field:'create_Date',title:'建立日期',align:'center',titleAlign: true},
                        {field:'updated_By',title:'修改人',align:'center',titleAlign: true},
                        {field:'update_Date',title:'修改日期',align:'center',titleAlign: true},
                    ]
                ],
                url: "queryMaintenanceAndMaintenanceRecords.do",//指定URL地址，控件自动发送ajax请求获取数据
                queryParams:{Chinese_Abbreviation:$("#chinese_Abbreviation").val(),Customer_Code:$("#customer_Code").val(),Equipment_Name:$("#equipment_Name").val(),SN:$("#sN").val()},//查询参数
                loadMsg: "正在加载数据...",
                nowrap:false,//换行
                fitColumns: true,//列的宽度填满表格，防止下方出现滚动条
                singleSelect: false,//是否可以单选
                pagination: true,//分页条
                pageSize: 20,
                pageList: [15, 20, 30, 40, 50],//分页条中的下拉框选项.
                onSelectPage: function (page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN){//分页触发
                 findOption(page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN);
                },
                onLoadSuccess:function(data){
                    if(data){
                        $.each(data.rows, function(index,item){
                            if(item.checked){
                                $('#g').datagrid('checkRow',index);
                            }
                        });
                    }
                },
            })
        })
    });
    function findOption(page, rows,Chinese_Abbreviation,Customer_Code,Equipment_Name,SN)
    {
        $("#g").datagrid("getPager").pagination({page:page,rows:rows,Chinese_Abbreviation:Chinese_Abbreviation,Customer_Code:Customer_Code,Equipment_Name:Equipment_Name,SN:SN});//重置
        $("#g").datagrid("loading"); //加屏蔽
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "queryCustomerEquipmentData.do",
            data : {
                page:page,
                rows:rows,
                Chinese_Abbreviation:Chinese_Abbreviation,
                Customer_Code:Customer_Code,
                Equipment_Name:Equipment_Name,
                SN:SN,
            },
            success : function(data) {
                $("#g").datagrid("loadData",data);
                $("#g").datagrid("loaded"); //移除屏蔽
            },
            error : function(err) {
                $.messager.alert("操作提示", "获取信息失败...请联系管理员!", "error");
                $("#g").datagrid("loaded"); //移除屏蔽
            }
        });
    };
    var url;
    var checked;
    var id=[];
    var Customer_Code=[];
    function Update(){
        var row = $('#g').datagrid('getSelected');
        if (row){
            $('#dlg2').dialog('open').dialog('center').dialog('setTitle','Edit');
            $('#fm2').form('load',row);
            id=[];
            Customer_Code=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                id.push(item.id);
                Customer_Code.push(item.customer_Code);
            });
            if(id.length>=2){
                $.messager.alert("操作提示","请选择一条数据进行更新!","info");
            }
            url = 'customerEquipmentDataUpdate.do';
            $.ajax({
                url:"queryCustomerEquipmentDataFactoryAddressAndJobNumber.do",
                type:"post",
                data:{Customer_Code:Customer_Code,BPM:"BPM",ENG:"ENG"},
                dataType:"json",
                success:function (data) {
                    //$("#customer_Code_Add").combobox("loadData",data.customerCodeList);
                    //$("#chinese_Abbreviation_Add").textbox('setValue',"");
                    $("#factory_Address_Update").combobox("loadData",data.factoryAddressList);
                    $("#bpm_update").combobox("loadData",data.bPMList);
                    $("#engineer_update").combobox("loadData",data.eNGList);
                }
            });
        }
    };
    function newCustomerEquipmentData(){
        $('#dlg').dialog('open').dialog('center').dialog('setTitle','New');
        $('#fm').form('clear');
        url = 'customerEquipmentDataAdd.do';
        var Customer_Code=$("#customer_Code_Add").combobox('getText');
        $.ajax({
            url:"queryCustomerEquipmentDataCustomerCodeAndJobNumber.do",
            type:"post",
            data:{Customer_Code:Customer_Code,BPM:"BPM",ENG:"ENG"},
            dataType:"json",
            success:function (data) {
                $("#customer_Code_Add").combobox("loadData",data.customerCodeList);
                $("#chinese_Abbreviation_Add").textbox('setValue',"");
                $("#bpm_add").combobox("loadData",data.bPMList);
                $("#engineer_add").combobox("loadData",data.eNGList);
            }
        });
    };
    function saveUser(){
        $('#fm').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg').dialog('close');        // close the dialog
                    $('#g').datagrid('reload');    // reload the user data
                }
            }
        });
    };
    function saveUser2(){
        $('#fm2').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if (result.errorMsg){
                    $.messager.show({
                        title: 'Error',
                        msg: result.errorMsg
                    });
                } else {
                    $('#dlg2').dialog('close');        // close the dialog
                    $('#g').datagrid('reload');    // reload the user data
                }
            }
        });
    };
    function Remove() {
        var row = $('#g').datagrid('getSelected');
        if (row){
            $('#dlg3').dialog('open').dialog('center').dialog('setTitle','Remove');
            $('#fm3').form('load',row);
            id=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                id.push(item.id);
            });
            url = 'customerEquipmentDataRemove.do';
        }
    };
    function saveUser3() {
        $.ajax({
            url:url,
            type:"post",
            data:{id:id},
            cache : false,
            dataType:"json",
            success:function (result) {
                $('#dlg3').dialog('close');
                $.messager.alert("操作提示",result.success,"info");
                $('#g').datagrid('reload');
            },
            error:function (err) {
                $.messager.alert("操作提示",err.errorMsg,"error");
            }
        })
    };
    function Download() {
        //var Chinese_Abbreviation=$("#chinese_Abbreviation").val();
        //var Customer_Code=$("#customer_Code").val();
        //var Equipment_Name=$("#equipment_Name").val();
        //var SN=$("#sN").val();
        var row = $('#g').datagrid('getSelected');
        if (row){
            id=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                id.push(item.id);
            });
            location.href="maintenanceAndMaintenanceRecordsDataDownLoad.do?id="+id;
        }/*else {
            location.href="maintenanceAndMaintenanceRecordsDataDownLoad.do?Chinese_Abbreviation="+Chinese_Abbreviation+"&Customer_Code="+Customer_Code+
                "&Equipment_Name="+Equipment_Name+"&SN="+SN;
        }*/
    };
    function showSN(cellValue, options, rowObject) {
        if(cellValue!=null && cellValue!=""){
            //var drawing=[];
            //var rValue="";
            //return "<a href='/hwkj/upload/drawing/sql.txt' target='_blank'>点击查看</a>,<a href='/hwkj/upload/drawing/sql.txt' target='_blank'>点击查看</a>";
            /*for(var i=0;i<drawing.length;i++){
                if(drawing[i]!=""){
                    rValue+="<a href='"+drawing[i]+"' target='_blank'>"+drawing[i].substring(21)+"</a>"+"</br>";
                }
            }*/
            return "<a href='customerFactoryAddress.do' target='_self'>"+cellValue+"</a>";
            //return rValue.substring(0,rValue.length-1);
        }
    };
    /**
     * 给时间框控件扩展一个清除的按钮
     */
    $.fn.datebox.defaults.cleanText = '清空';
    (function ($) {
        var buttons = $.extend([], $.fn.datebox.defaults.buttons);
        buttons.splice(1, 0, {
            text: function (target) {
                return $(target).datebox("options").cleanText
            },
            handler: function (target) {
                $(target).datebox("setValue", "");
                $(target).datebox("hidePanel");
            }
        });
        $.extend($.fn.datebox.defaults, {
            buttons: buttons
        });
    })(jQuery);
</script>
</body>
</html>