<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyUi/demo/demo.css}">
    <script type="text/javascript" th:src="@{/easyUi/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyUi/locale/easyui-lang-zh_CN.js}"></script>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <input type="text" id="role_Name" class="easyui-textbox" style="width: 240px;height: 25px" label="角色名称:">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="menu_Name" class="easyui-textbox" style="width: 240px;height: 25px" label="菜单名称:">
    </div>
    <div style="height: 10px"></div>
    <div>
        <a id="search" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-search" style="width:90px">查询</a>&nbsp;&nbsp;&nbsp;
        <!--<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-add" onclick="newRoleMenu()" style="width:90px">新增</a>&nbsp;&nbsp;&nbsp;-->
        <a id="up" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-edit" onclick="Update()" style="width:90px">更新</a>&nbsp;&nbsp;&nbsp;
        <a id="re" href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-remove" onclick="Remove()" style="width:90px"><span style="align-content: center">删除</span></a>&nbsp;&nbsp;&nbsp;
    </div>
    <div style="height: 10px"></div>
    <div>
        <form>
            <table id="g" class="easyui-datagrid" width="98%">
            </table>
        </form>
    </div>
    <div id="dlg2" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons2'">
        <form id="fm2" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:10px">
                <input name="role_Name" class="easyui-textbox" style="width: 280px;height: 25px" readonly="readonly" label="角色名称:" >
            </div>
            <div style="margin-bottom:10px">
                <input name="menu_Name" class="easyui-textbox" style="width: 280px;height: 25px" readonly="readonly" label="菜单名称:" >
            </div>
            <div style="margin-bottom:10px">
                <input name="url_Page" class="easyui-textbox" style="width: 280px;height: 25px" readonly="readonly" label="网页名称:" >
            </div>
            <div style="margin-bottom:10px">
                <select id="insert" name="newly_Added" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="新增:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="update" name="modify" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="更新:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="remove" name="remove" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="删除:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="download" name="download" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="下载:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="model" name="model" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="模板:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="upload" name="upload" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="上传:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <select id="move" name="move" class="easyui-combobox" style="width: 280px;height: 25px" required="true" label="Move:">
                    <option></option>
                    <option>Y</option>
                    <option>N</option>
                </select>
            </div>
            <div style="margin-bottom:10px">
                <input name="role_Menu_Id" type="hidden" class="easyui-textbox"/>
            </div>
        </form>
    </div>
    <div id="dlg-buttons2">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser2()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <div id="dlg3" class="easyui-dialog" style="width:400px;height: 200px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons3'">
        <form id="fm3" method="post" novalidate style="margin:0;padding:20px 50px">
            <div style="margin-bottom:10px">
                <h1 style="text-align: center;font-size: 20px">是否删除该笔数据!</h1>
            </div>
        </form>
    </div>
    <div id="dlg-buttons3">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveUser3()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">Cancel</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var url=window.location.href;
        url = url.substring(url.lastIndexOf("/") + 1);
        $.ajax({
            url:"queryCustomerBaseDataFunction.do",
            type:"post",
            dataType:"json",
            data:{Url_Page:url},
            success:function (data) {
                data=data.list;
                if(data=="timeOut"){
                    $.messager.alert("提示信息","网页超时,请重新刷新页面!","warning");
                }else {
                    /*if(data.newly_Added!="Y"){
                        $("#insert").css("display","none");
                    }*/
                    if(data.modify!="Y"){
                        $("#up").css("display","none");
                    }
                    if(data.remove!="Y"){
                        $("#re").css("display","none");
                    }
                    /*if(data.download!="Y"){
                        $("#download").css("display","none");
                    }
                    if(data.model!="Y"){
                        $("#model").css("display","none");
                    }
                    if(data.upload!="Y"){
                        $("#upload").css("display","none");
                    }*/
                }
            },
            error:function () {
                $.messager.alert("提示信息","请尝试重新登入或联系管理员!","error");
            }
        })
    });
    $(function () {
        $("#search").click(function () {
            $("#g").datagrid({
                columns: [
                    [//定义标题行所有的列
                        {field:'role_Menu_Id',title:'编号',checkbox:true,align:'center',titleAlign: true},
                        {field:'role_Name',title:'角色名称',width:'15%',align:'center',titleAlign: true},
                        {field:'menu_Name',title:'菜单名称',width:'20%',align:'center',titleAlign: true},
                        {field:'url_Page',title:'网页名称',width:'30%',align:'center',titleAlign: true},
                        {field:'newly_Added',title:'新增',width:'5%',align:'center',titleAlign: true},
                        {field:'modify',title:'更新',width:'5%',align:'center',titleAlign: true},
                        {field:'remove',title:'删除',width:'5%',align:'center',titleAlign: true},
                        {field:'download',title:'下载',width:'5%',align:'center',titleAlign: true},
                        {field:'model',title:'模板',width:'5%',align:'center',titleAlign: true},
                        {field:'upload',title:'上传',width:'5%',align:'center',titleAlign: true},
                        {field:'move',title:'Move',width:'5%',align:'center',titleAlign: true},
                    ]
                ],
                url: "queryRoleMenu.do",//指定URL地址，控件自动发送ajax请求获取数据
                queryParams:{Role_Name:$("#role_Name").val(),Menu_Name:$("#menu_Name").val()},//查询参数
                loadMsg: "正在加载数据...",
                fitColumns: true,//列的宽度填满表格，防止下方出现滚动条
                singleSelect: false,//是否可以单选
                pagination: true,//分页条
                pageSize: 20,
                pageList: [15, 20, 30, 40, 50],//分页条中的下拉框选项.
                onSelectPage: function (page,rows,Role_Name,Menu_Name) {//分页触发
                 findOption(page,rows,Role_Name,Menu_Name);
                }
            })
        })
    });
    function findOption(page,rows,Role_Name,Menu_Name)
    {
        $("#g").datagrid("getPager").pagination({page:page,rows:rows,Role_Name:Role_Name,Menu_Name:Menu_Name});//重置
        $("#g").datagrid("loading"); //加屏蔽
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "queryRoleMenu.do",
            data : {
                page : page,
                rows : rows,
                Role_Name:Role_Name,
                Menu_Name:Menu_Name,
            },
            success : function(data) {
                $("#g").datagrid("loadData",data);
                $("#g").datagrid("loaded"); //移除屏蔽
            },
            error : function(err) {
                $.messager.alert("操作提示", "获取信息失败...请联系管理员!", "error");
                $("#g").datagrid("loaded"); //移除屏蔽
            }
        });
    };
    var url;
    var checked;
    var Role_Menu_Id=[];
    function Update(){
        var row = $('#g').datagrid('getSelected');
        if (row){
            $('#dlg2').dialog('open').dialog('center').dialog('setTitle','Edit');
            $('#fm2').form('load',row);
            Role_Menu_Id=[];
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                Role_Menu_Id.push(item.role_Menu_Id);
            });
            if(Role_Menu_Id.length>=2){
                $.messager.alert("提示信息","请选择一条数据进行更新!","info");
                $('#dlg2').dialog('close');
            }
            else if(checked[0].url_Page==null || checked[0].url_Page.trim().length==0){
                $.messager.alert("提示信息","因为该条数据网页名称为空不能进行更新!","warning");
                $('#dlg2').dialog('close');
            }
            url = 'roleMenuUpdate.do';
        }
    };
    function saveUser2(){
        $('#fm2').form('submit',{
            url: url,
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                var result = eval('('+result+')');
                if(result.message=="success"){
                    $('#dlg2').dialog('close');        // close the dialog
                    $.messager.alert("提示信息", "更新数据成功!", "info");
                    $('#g').datagrid('reload');    // reload the user data
                }
                else if(result.message=="error"){
                    $.messager.alert("提示信息", "更新数据失败,请稍后尝试或联系管理员!", "error");
                }
                else {
                    $.messager.alert("提示信息", "更新数据失败,请稍后尝试或联系管理员!", "error");
                }
            },
            error:function () {
                $.messager.alert("提示信息", "更新数据失败,请稍后尝试或联系管理员!", "error");
            }
        });
    };
    function Remove() {
        var row = $('#g').datagrid('getSelected');
        if (row){
            Role_Menu_Id=[];
            $('#dlg3').dialog('open').dialog('center').dialog('setTitle','Remove');
            $('#fm3').form('load',row);
            checked=$('#g').datagrid('getChecked');
            $.each(checked, function(index, item){
                Role_Menu_Id.push(item.role_Menu_Id);
            });
            url = 'roleMenuRemove.do';
        }
    }
    function saveUser3() {
        $.ajax({
            url:url,
            type:"post",
            data:{Role_Menu_Id:Role_Menu_Id},
            dataType:"json",
            success:function (result) {
                if(result.message=="success"){
                    $('#dlg3').dialog('close');
                    $.messager.alert("提示信息","删除数据成功!","info");
                    $('#g').datagrid('reload');
                }
                else if(result.message=="error"){
                    $.messager.alert("提示信息","删除数据失败,请稍后尝试或联系管理员!","error");
                }
                else {
                    $.messager.alert("提示信息","删除数据失败,请稍后尝试或联系管理员!","error");
                }
            },
            error:function () {
                $.messager.alert("提示信息","删除数据失败,请稍后尝试或联系管理员!","error");
            }
        })
    }
</script>
</body>
</html>