<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.EventsErrorsSummaryByHostByErrorMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.EventsErrorsSummaryByHostByError">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="HOST" jdbcType="CHAR" property="host" />
    <result column="ERROR_NUMBER" jdbcType="INTEGER" property="errorNumber" />
    <result column="ERROR_NAME" jdbcType="VARCHAR" property="errorName" />
    <result column="SQL_STATE" jdbcType="VARCHAR" property="sqlState" />
    <result column="SUM_ERROR_RAISED" jdbcType="BIGINT" property="sumErrorRaised" />
    <result column="SUM_ERROR_HANDLED" jdbcType="BIGINT" property="sumErrorHandled" />
    <result column="FIRST_SEEN" jdbcType="TIMESTAMP" property="firstSeen" />
    <result column="LAST_SEEN" jdbcType="TIMESTAMP" property="lastSeen" />
  </resultMap>
</mapper>