<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.EventsStatementsHistogramGlobalMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.EventsStatementsHistogramGlobal">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="BUCKET_NUMBER" jdbcType="INTEGER" property="bucketNumber" />
    <result column="BUCKET_TIMER_LOW" jdbcType="BIGINT" property="bucketTimerLow" />
    <result column="BUCKET_TIMER_HIGH" jdbcType="BIGINT" property="bucketTimerHigh" />
    <result column="COUNT_BUCKET" jdbcType="BIGINT" property="countBucket" />
    <result column="COUNT_BUCKET_AND_LOWER" jdbcType="BIGINT" property="countBucketAndLower" />
    <result column="BUCKET_QUANTILE" jdbcType="DOUBLE" property="bucketQuantile" />
  </resultMap>
</mapper>