<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.HwkjVendorCodeMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.HwkjVendorCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Vendor_Chinese_Full" jdbcType="VARCHAR" property="vendorChineseFull" />
    <result column="Vendor_Chinese_Abbreviation" jdbcType="VARCHAR" property="vendorChineseAbbreviation" />
    <result column="Vendor_English_Full" jdbcType="VARCHAR" property="vendorEnglishFull" />
    <result column="Vendor_English_Abbreviation" jdbcType="VARCHAR" property="vendorEnglishAbbreviation" />
    <result column="Vendor_Nature" jdbcType="VARCHAR" property="vendorNature" />
    <result column="Vendor_Code" jdbcType="VARCHAR" property="vendorCode" />
    <result column="Country_Area" jdbcType="VARCHAR" property="countryArea" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="Brand" jdbcType="VARCHAR" property="brand" />
    <result column="Invoice_Address" jdbcType="VARCHAR" property="invoiceAddress" />
    <result column="Industry" jdbcType="VARCHAR" property="industry" />
    <result column="Supplier_Category" jdbcType="VARCHAR" property="supplierCategory" />
    <result column="Company_Owner" jdbcType="VARCHAR" property="companyOwner" />
    <result column="Vendor_Level" jdbcType="VARCHAR" property="vendorLevel" />
    <result column="Website_Address" jdbcType="VARCHAR" property="websiteAddress" />
    <result column="Bank" jdbcType="VARCHAR" property="bank" />
    <result column="Bank_Account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="Bank_Address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="Acceptable_Currency" jdbcType="VARCHAR" property="acceptableCurrency" />
    <result column="Annual_Revenue" jdbcType="DOUBLE" property="annualRevenue" />
    <result column="Industry_Rank" jdbcType="VARCHAR" property="industryRank" />
    <result column="Enterprise_Nature" jdbcType="VARCHAR" property="enterpriseNature" />
    <result column="Employee_Qty" jdbcType="INTEGER" property="employeeQty" />
    <result column="Credit_Code" jdbcType="VARCHAR" property="creditCode" />
    <result column="Taxpayer_Number" jdbcType="VARCHAR" property="taxpayerNumber" />
    <result column="Registration_Number" jdbcType="VARCHAR" property="registrationNumber" />
    <result column="Registration_Time" jdbcType="VARCHAR" property="registrationTime" />
    <result column="Registered_Capital" jdbcType="DOUBLE" property="registeredCapital" />
    <result column="Credit_Level" jdbcType="VARCHAR" property="creditLevel" />
    <result column="Credit_Amount" jdbcType="DOUBLE" property="creditAmount" />
    <result column="Currency" jdbcType="VARCHAR" property="currency" />
    <result column="Purchase" jdbcType="VARCHAR" property="purchase" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="Creator" jdbcType="VARCHAR" property="creator" />
    <result column="Create_Date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="Updated_By" jdbcType="VARCHAR" property="updatedBy" />
    <result column="Update_Date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>