<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.ReplicationConnectionStatusMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.ReplicationConnectionStatus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CHANNEL_NAME" jdbcType="CHAR" property="channelName" />
    <result column="GROUP_NAME" jdbcType="CHAR" property="groupName" />
    <result column="SOURCE_UUID" jdbcType="CHAR" property="sourceUuid" />
    <result column="THREAD_ID" jdbcType="BIGINT" property="threadId" />
    <result column="SERVICE_STATE" jdbcType="CHAR" property="serviceState" />
    <result column="COUNT_RECEIVED_HEARTBEATS" jdbcType="BIGINT" property="countReceivedHeartbeats" />
    <result column="LAST_HEARTBEAT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastHeartbeatTimestamp" />
    <result column="LAST_ERROR_NUMBER" jdbcType="INTEGER" property="lastErrorNumber" />
    <result column="LAST_ERROR_MESSAGE" jdbcType="VARCHAR" property="lastErrorMessage" />
    <result column="LAST_ERROR_TIMESTAMP" jdbcType="TIMESTAMP" property="lastErrorTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION" jdbcType="CHAR" property="lastQueuedTransaction" />
    <result column="LAST_QUEUED_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionOriginalCommitTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionImmediateCommitTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_START_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionStartQueueTimestamp" />
    <result column="LAST_QUEUED_TRANSACTION_END_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="lastQueuedTransactionEndQueueTimestamp" />
    <result column="QUEUEING_TRANSACTION" jdbcType="CHAR" property="queueingTransaction" />
    <result column="QUEUEING_TRANSACTION_ORIGINAL_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionOriginalCommitTimestamp" />
    <result column="QUEUEING_TRANSACTION_IMMEDIATE_COMMIT_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionImmediateCommitTimestamp" />
    <result column="QUEUEING_TRANSACTION_START_QUEUE_TIMESTAMP" jdbcType="TIMESTAMP" property="queueingTransactionStartQueueTimestamp" />
    <result column="RECEIVED_TRANSACTION_SET" jdbcType="LONGVARCHAR" property="receivedTransactionSet" />
  </resultMap>
</mapper>