<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.VariablesInfoMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.VariablesInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="VARIABLE_NAME" jdbcType="VARCHAR" property="variableName" />
    <result column="VARIABLE_SOURCE" jdbcType="CHAR" property="variableSource" />
    <result column="VARIABLE_PATH" jdbcType="VARCHAR" property="variablePath" />
    <result column="MIN_VALUE" jdbcType="VARCHAR" property="minValue" />
    <result column="MAX_VALUE" jdbcType="VARCHAR" property="maxValue" />
    <result column="SET_TIME" jdbcType="TIMESTAMP" property="setTime" />
    <result column="SET_USER" jdbcType="CHAR" property="setUser" />
    <result column="SET_HOST" jdbcType="CHAR" property="setHost" />
  </resultMap>
</mapper>