<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwkj.hwkj.dao.XWaitClassesGlobalByAvgLatencyMapper">
  <resultMap id="BaseResultMap" type="hwkj.hwkj.entity.XWaitClassesGlobalByAvgLatency">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="event_class" jdbcType="INTEGER" property="eventClass" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="total_latency" jdbcType="INTEGER" property="totalLatency" />
    <result column="min_latency" jdbcType="INTEGER" property="minLatency" />
    <result column="avg_latency" jdbcType="INTEGER" property="avgLatency" />
    <result column="max_latency" jdbcType="INTEGER" property="maxLatency" />
  </resultMap>
</mapper>